html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#product-variations-container > div, #product-info-tabs-container > div {
  width: 350px;
  padding: 10px;
  border-color: #333;
  border-style: solid;
}

form button {
  margin: 20px 0;
}

.shopping-cart {
  position: absolute;
  top: 20px;
  left: 300px;
}

/* colors */

.red {
  background-color: #e55;
}

.grey {
  background-color: #ccc;
}

.white {
  background-color: #fff;
}

.green {
  background-color: #5e5;
}

.blue {
  background-color: #55e;
}

.yellow {
  background-color: #5ee;
}