<!DOCTYPE html>
<html class="no-script">
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    <%- partial("products/_head") %>
  </head>
  <body>
    <h1>Simple Web Shop</h1>

    <a href="products/1/">Product 1</a>

    <%- partial("products/_shopping-cart") %>

    <script src="/javascripts/vendor/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/vendor/jquery-pjax-1.9.6.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>